*~
build*
*.DS_Store
*.dat
*__pycache__*
*flycheck*
python/results*

mfnets_surrogates/iafflow_test_results/
mfnets_surrogates/mcmc_test_results/
mfnets_surrogates/mcmc_test_results_backup/
mfnets_surrogates/multinormal_test_results/
*#*
*.pyc

cmdline/example_results
cmdline/example*.yaml
cmdline/example*/*.yaml
cmdline/example_results_bayes
cmdline/example_results_modelavg
cmdline/example_results_mo
cmdline/example_results_mo_gen
cmdline/example_results_mo_gen_single_fidelity
cmdline/example_results_no_edges
cmdline/log*
cmdline/train.log
*.log*

*dist*
*egg*
backup*

*egg*


examples/graph_learn/results