*~
build*
*.DS_Store
*.dat
*__pycache__*
*flycheck*
python/results*

mfnets_surrogates/iafflow_test_results/
mfnets_surrogates/mcmc_test_results/
mfnets_surrogates/mcmc_test_results_backup/
mfnets_surrogates/multinormal_test_results/